{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>change-Password</title>
{% endblock %}



{% block content %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Login</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                {% for msg in messages %}
                <p style="color: red;">{{msg}}</p>
                {% endfor %}

                <form method="POST" >
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">Login</h4>
                        <div class="row">
                            <div class="col-md-12 col-12 mb-20">
                                <label>Old password</label>
                                {{form.old_password}}
                            </div>
                            <div class="col-12 mb-20">
                                <label>New_Password</label>
                                {{form.new_password1}}
                            </div>
                            <div class="col-12 mb-20">
                                <label>Confirm_Password</label>
                                {{form.new_password2}}
                            </div>
                            <div class="col-md-12">
                                <button class="register-button mt-0">Change</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    {% endblock content%}