{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>My Buy</title>
{% endblock %}



{% block content %}
<div class="container my-5">
    <div class="row">

     {% if buy%}
     <div class="col-sm-8">
     <div class="card">
      <div class="card-body">
       
       <h3>My Buy</h3>
       {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
        {% for buy in buy %}
       <div class="row">


        <div class="col-sm-3 text-center align-self-center"><img src="{{buy.product.pic.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"></div>
        <div class="col-sm-9">
         <div>
          <h5>{{buy.product.product_name}}</h5>
          <h5>Status: {{buy.status}}</h5>
          <div class="my-3">
            <h5> quantity:{{buy.quantity}}</h5>
          </div> 
          <h5>ordered data={{buy.ordered_date}}</h5>
          <div class="d-flex justify-content-between">
          <h5>payment method:{{buy.payment_method}}</h5>
           <p class="mb-0"><span><strong>Total amount =Rs. {{buy.total_amount}}</strong></span></p>
          </div>
         </div>
        </div>
       </div>
       {% if buy.status == 'pending' or buy.status == 'packing'%}
       <a href="{% url 'edit-ordered' buy.id %}" class="btn btn-primary">Edit</a>
       <a href="{% url 'cancel-ordered' buy.id %}" class="btn btn-primary">Cancel</a>
       {% endif %}
       <hr class="text-muted">
       {% endfor %}
       {% else %}
       <h2>Please buy product</h2>
       {% endif%}
      </div>
      </div>
     </div>
    </div>
   </div>
   <div class="container">
    <div class="row">
     <div class="col-sm-8">
      <div class="card">
       <div class="card-body">
         <h5 class="mb-4">We accept</h5>
         <img src="{% static 'app/images/payment.png' %}" alt="" class="img-fluid">
       </div>
     </div>
     </div>
    </div>
{% endblock %}