{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}



{% block content %}

<div class="wishlist-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
               {% if pro %}
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">name</th>
                                    <th class="li-product-thumbnail">images</th>
                                    <th class="cart-product-name">Payment_method</th>
                                    <th class="li-product-price">amount</th>
                                    <th class="li-product-stock-status">Quantity</th>
                                    <th class="li-product-stock-status">Status</th>
                                    <th class="li-product-add-cart">Action</th>
                                    <th class="li-product-add-cart">Change status</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for pro in pro %}
                                
                                <tr>
                                    <td ><span class="amount">{{pro.product.product_name}}</span></td>
                                    <td class="li-product-thumbnail"><a href="#"><img src="{{pro.product.pic.url}}" alt=""width="50" height="50"></a></td>
                                    <td ><span class="amount">{{pro.payment_method}}</span></td>
                                    <td ><span class="amount">{{pro.total_amount}}</span></td>
                                    <td ><span class="amount">{{pro.quantity}}</span></td>
                                    <td ><span class="amount">{{pro.status}}</span></td>
                                    <td class="li-product-add-cart"><a href="{% url 'view-ordered' pro.id%}">Detail</a>
                                    {% if pro.status != 'odered complate' %}    
                                    <td     
                                        <div class="dropdown show">
                                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Status
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                              <a class="dropdown-item" href="{% url 'packing' pro.id %}">Packing</a>
                                              <a class="dropdown-item" href="{% url 'ready-to-dispatch' pro.id %}">Ready to dispatch</a>
                                              <a class="dropdown-item" href="{% url 'on-the-way' pro.id %}">On the way</a>
                                              <a class="dropdown-item" href="{% url 'odered-complate' pro.id%}">Odered complate</a>
                                            </div>
                                          </div> 
                                    </td>
                                    {% endif %}
                                </tr>
            
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </form>
                {% else %}
                <h2>You have no ordered</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}